@import url('https://fonts.googleapis.com/css2?family=Galdeano&display=swap');

html {
  scroll-behavior: smooth;
}

body{
    font-family: 'Galdeano';
    margin:0;
    font-weight:400;
    color:#333
}
#cart {
    display: block;
    position: fixed;
    top: 45%;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding-left: 20px;
    padding-right:20px;
    border-radius: 4px;
  }