{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | Home {% endblock %}
{% block content %}
<div class="container">
    <h5>Hello {{ user.first_name }}, You have {{count}} item(s) in your cart</h5><hr>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Description</th>
                <th scope="col">Unit price</th>
                <th scope="col">Discount/Unit</th>
                <th scope="col">Selling Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Item total</th>
            </tr>
            </thead>
            <tbody>
            {% for inv in inventory %}
            <tr>
              <td><img src="{{inv.item.photo.url}}" alt="item image" style="height: 100px; width: 150px;"></td>
              <td>{{ inv.item.name }}</td>
              <td>{{ inv.item.price}}</td>
              <td>{{ inv.item.discount }}</td>
              <td>{{ inv.item.selling_price }}</td>
              <td>{{ inv.quantity }}</td>
              <td class="item-total">{{ inv.item_total }}</td>
            </tr>
          {% endfor %}
          <tr>
            <th colspan="6">Shipping Fee</th>
            <td class="item-total">200.0</td>
          </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <h5>Your Total is KES <span id="total"></span></h5><br>

        <form class="col-md-12 float-center shadow-lg" action="{% url 'checkout' %}" method="post" autocomplete="off">
              {% csrf_token %}
                <div class="text-center text-danger">
                    <br><h3>Billing Address</h3><hr>
                </div>
              <div class="form-floating mb-3 mx-3">
                <input type="text" class="form-control rounded-pill" id="name" name="shipping_name" placeholder='Enter your Full Name' value="{{request.user.get_full_name}}" maxlength="50" required>
                <label for="name"> <i class="fas fa-user px-2" aria-hidden="true"></i> Full Name</label>
              </div>
              {% if not request.user.is_authenticated %}
              <div class="form-floating mb-3 mx-3">
                <input type="email" class="form-control rounded-pill" id="email" name="email" placeholder="Email" value="{{request.user.email}}" required>
                <label for="email"><i class="fas fa-envelope px-2"></i> E-Mail</label>
              </div>
              {% endif %}
              <div class="form-floating mb-3 mx-3">
                <input type="tel" class="form-control rounded-pill" id="phone" name="phone_number" pattern="[0-9]{12}" placeholder="Phone Number" value="{{request.user.phone}}" required>
                <label for="phone"><i class="fas fa-phone px-2"></i> Phone Number (<small>Format: 254712XXXXXX</small>)</label>
              </div> 
              <div class="form-floating mx-3">
                <select class="form-select form-control me-2 rounded-pill" id="region" name="region" aria-label="Default select example">
                    <option value="1">Nairobi</option>
                    <option value="2">Eldoret</option>
                </select>
              <label for="password">Region</label>
              </div><br>
              <div class="form-floating mb-3 mx-3">
                <input type="text" class="form-control rounded-pill" id="location_details" name="shipping_location" placeholder='Enter your location details' maxlength="255" required>
                <label for="location_details"> <i class="fas fa-location-arrow"></i> Location Details</label>
              </div>                  
              <div class="text-center">
                <button type="submit" class="btn alert-dark btn-outline-dark rounded-pill col-4" onclick="checkoutClicked()">Confirm Order</button><br><br>
              </div><br>
            </form>
    </div>

        
        <br><br><br>
</div>
    

<script type="text/javascript" src="{% static 'js/cartTotal.js' %}"></script>

<script type="text/javascript">
  function checkoutClicked(){
    confirm('Are you sure you want to confirm this order?');
    clearCart();

  }
  function clearCart(){
    cart = {}
    document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
  }
</script>

{% endblock content %}