{% extends 'base.html' %}
{% load static %}
{% block title %} | Reset Password {% endblock %}

{% block content %}
<div class="container text-center"><br><br><br>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 shadow-lg">
            <img class="img-fluid" src="{% static 'images/logo.png'%}" width="300" height="200"/><hr>
            <div><h4>PASSWORD RESET COMPLETE!</h4><br>
                <p>Your password has been set. You may go ahead and log in now.</p><br>
                <p><a href="{% url 'login' %}" role="button" class="btn alert-dark btn-outline-dark rounded-pill col-4">Login</a></p>
            </div>
        </div>
        <div class="col-md-3">
            
        </div>
    </div>
    
    
</div>

{% endblock content %}