{% extends 'base.html' %}
{% load static %}
{% block title %} | Reset Password {% endblock %}

{% block content %}
<div class="container text-center"><br><br><br>
    <div class="row">
        <div class="col-md-3">
        
        </div>
        <div class="col-md-6 shadow-lg">
            <img class="img-fluid" src="{% static 'images/logo.png'%}" width="300" height="200"/><hr>
            <div><h4>CONFIRM PASSWORD</h4><br>
                <p>Please enter your new password twice so we can verify you typed it correctly.</p>
            </div>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}<br><br>
                <button type="submit" class="btn alert-dark btn-outline-dark col-lg-3 rounded-pill">Reset Password</button>
            </form>
        </div>
        <div class="col-md-3">
        
        </div>
    </div><br><br>

</div>

{% endblock content %}