{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | Home {% endblock %}
{% block content %}

    <div class="container">
      <a href="{% url 'cart' %}" class="rounded-circle btn btn-sm btn-dark" id="feedback" >
        <i class="fas fa-shopping-cart"></i><p style="font-size: small;">Cart</p>
      </a>
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <form class="form-inline md-form form-sm mt-0">
                    <input class="form-control rounded-pill text-center" type="text" placeholder="Search here" aria-label="Search">
                </form>                
            </div>
            <div class="col-md-2">
                
            </div>
        </div><hr>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="images/aaa.png" height="200" width="100%"/>
                  <div class="card-body">
                    <p class="card-text">DENSO - SPARK PLUG (K20TR11)</p>
                    <p>KES 370 </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="#" role="button" class="btn btn-md alert-dark btn-outline-danger rounded-pill"><i class="fas fa-shopping-cart"></i> Add to cart</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="images/aaa.png" height="200" width="100%"/>
                  <div class="card-body">
                    <p class="card-text">DENSO - SPARK PLUG (K20TR11)</p>
                    <p>KES 370 </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="#" role="button" class="btn btn-md alert-dark btn-outline-danger rounded-pill"><i class="fas fa-shopping-cart"></i> Add to cart</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="images/aaa.png" height="200" width="100%"/>
                  <div class="card-body">
                    <p class="card-text">DENSO - SPARK PLUG (K20TR11)</p>
                    <p>KES 370 </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="#" role="button" class="btn btn-md alert-dark btn-outline-danger rounded-pill"><i class="fas fa-shopping-cart"></i> Add to cart</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="images/aaa.png" height="200" width="100%"/>
                  <div class="card-body">
                    <p class="card-text">DENSO - SPARK PLUG (K20TR11)</p>
                    <p>KES 370 </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="#" role="button" class="btn btn-md alert-dark btn-outline-danger rounded-pill"><i class="fas fa-shopping-cart"></i> Add to cart</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="images/aaa.png" height="200" width="100%"/>
                  <div class="card-body">
                    <p class="card-text">DENSO - SPARK PLUG (K20TR11)</p>
                    <p>KES 370 </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="#" role="button" class="btn btn-md alert-dark btn-outline-danger rounded-pill"><i class="fas fa-shopping-cart"></i> Add to cart</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
    
        </div><br><br><br>

    </div>

    {% endblock content %}